<footer class="footer">
  <div class="footer__container">
    <div class="footer__subscribe">
      <h3>subscribe to monogram</h3>
      <p>
        Master productivity with Creative Console and get all the latest
        Monogram news.
      </p>
      <form action="#">
        <div class="footer__submit">
          <input type="email" placeholder="Enter Adress" required />
          <button class="btn btn--submit">Submit</button>
        </div>
      </form>
      <div class="footer__icons">
        <div class="icon__container">
          <a href="#">
            <img
              class="icon icon--primary"
              src="/svg/instagram.svg"
              alt="instagram"
            />
          </a>
        </div>
        <div class="icon__container">
          <a href="#">
            <img
              class="icon icon--primary"
              src="/svg/twitter.svg"
              alt="twitter"
            />
          </a>
        </div>
        <div class="icon__container">
          <a href="#">
            <img
              class="icon icon--primary"
              src="/svg/facebook.svg"
              alt="facebook"
            />
          </a>
        </div>
        <div class="icon__container">
          <a href="#">
            <img
              class="icon icon--primary"
              src="/svg/youtube.svg"
              alt="youtube"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="content__container fc__item1">
      <h3>Monogram</h3>
      <ul class="list">
        <li>Lorem, ipsum.</li>
        <li>Lorem, ipsum.</li>
        <li>Lorem, ipsum.</li>
        <li>Lorem, ipsum.</li>
      </ul>
    </div>
    <div class="content__container fc__item2">
      <h3>Quick Links</h3>
      <ul class="list list-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Download</a></li>
      </ul>
    </div>
    <div class="content__container fc__item3">
      <h3>help</h3>
      <ul class="list list-links">
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Support Center</a></li>
        <li><a href="#">Shipping and Sales</a></li>
        <li><a href="#">Palette Support</a></li>
      </ul>
    </div>
    <div class="content__container fc__item4">
      <h3>information</h3>
      <ul class="list list-links">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Work with Us</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Terms of Sale</a></li>
        <li><a href="#">Press Kit</a></li>
      </ul>
    </div>
    <div class="footer__copyright">
      <p>© Monogram 2022</p>
    </div>
  </div>
</footer>
