<div class="item">
  <div class="item__image">
    <a class="image-main" href="#"><img src="/images/item1-1x.webp" /></a>
    <a class="image-hover" href="#"
      ><img src="/images/item1-hover-1x.webp"
    /></a>
    <span class="badge badge--po">Pre-Order</span>
  </div>
  <div class="item__about">
    <header class="item__header">
      <h3>traveler console</h3>
      <div class="item__price">
        <span class="price price--reduced">$399</span>
        <span class="price price--full">$499</span>
      </div>
    </header>
    <p>Ideal for music & audio. Adaptable to any workflow.</p>
  </div>
</div>
