<section class="products">
    <article id="TC">
      <div class="item">
        <div class="item__image">
          <a class="image-main" href="#"><img src="/images/item1-1x.webp" /></a>
          <a class="image-hover" href="#"
          ><img src="/images/item1-hover-1x.webp"
        /></a>
          <span class="badge badge--po">Pre-Order</span>
        </div>
        <div class="item__about">
          <header class="item__header">
            <h3>traveler console</h3>
            <div class="item__price">
              <span class="price price--reduced">$399</span>
              <span class="price price--full">$499</span>
            </div>
          </header>
          <p>Ideal for music & audio. Adaptable to any workflow.</p>
        </div>
      </div>
    </article>
    <article id="ST">
      <div class="item">
        <div class="item__image">
          <a class="image-main" href="#"><img src="/images/item2-1x.webp" /></a>
          <a class="image-hover" href="#"
          ><img src="/images/item2-hover-1x.webp"
        /></a>
          <span class="badge badge--po">Pre-Order</span>
        </div>
        <div class="item__about">
          <header class="item__header">
            <h3>studio console</h3>
            <div class="item__price">
              <span class="price price--reduced">$499</span>
              <span class="price price--full">$599</span>
            </div>
          </header>
          <p>Ideal for photo & video. Adaptable to any workflow.</p>
        </div>
      </div>
    </article>
    <article id="MC">
      <div class="item">
        <div class="item__image">
          <a class="image-main" href="#"><img src="/images/item3-1x.webp" /></a>
          <a class="image-hover" href="#"
          ><img src="/images/item3-hover-1x.webp"
        /></a>
          <span class="badge badge--po">Pre-Order</span>
        </div>
        <div class="item__about">
          <header class="item__header">
            <h3>master console</h3>
            <div class="item__price">
              <span class="price price--reduced">$799</span>
              <span class="price price--full">$1,099</span>
            </div>
          </header>
          <p>Ideal for Virtual Production & Film. Adaptable to any workflow.</p>
        </div>
    </article>
  </section>