<section class="products2">
  <div class="item">
    <div class="item__image">
      <a class="image-main" href="#"><img src="/images/product1-1x.webp" /></a>
      <a class="image-hover" href="#"
        ><img src="/images/product1-hover-1x.webp"
      /></a>
      <span class="badge badge--is">in Stock</span>
    </div>
    <div class="item__about">
      <header class="item__header">
        <h3>Monogram core</h3>
        <div class="item__price">
          <span class="price price-full-s">$149</span>
        </div>
      </header>
    </div>
  </div>
  <div class="item">
    <div class="item__image">
      <a class="image-main" href="#"><img src="/images/product2-1x.webp" /></a>
      <a class="image-hover" href="#"
        ><img src="/images/product2-hover-1x.webp"
      /></a>
      <span class="badge badge--po">Pre-Order</span>
    </div>
    <div class="item__about">
      <header class="item__header">
        <h3>orbiter module</h3>
        <div class="item__price">
          <span class="price price-full-s">$149</span>
        </div>
      </header>
    </div>
  </div>
  <div class="item">
    <div class="item__image">
      <a class="image-main" href="#"><img src="/images/product3-1x.webp" /></a>
      <a class="image-hover" href="#"
        ><img src="/images/product3-hover-1x.webp"
      /></a>
      <span class="badge badge--po">Pre-Order</span>
    </div>
    <div class="item__about">
      <header class="item__header">
        <h3>dial module</h3>
        <div class="item__price">
          <span class="price price-full-s">$99</span>
        </div>
      </header>
    </div>
  </div>
  <div class="item">
    <div class="item__image">
      <a class="image-main" href="#"><img src="/images/product4-1x.webp" /></a>
      <a class="image-hover" href="#"
        ><img src="/images/product4-hover-1x.webp"
      /></a>
      <span class="badge badge--is">in stock</span>
    </div>
    <div class="item__about">
      <header class="item__header">
        <h3>slider module</h3>
        <div class="item__price">
          <span class="price price-full-s">$149</span>
        </div>
      </header>
    </div>
  </div>
  <div class="item">
    <div class="item__image">
      <a class="image-main" href="#"><img src="/images/product5-1x.webp" /></a>
      <a class="image-hover" href="#"
        ><img src="/images/product5-hover-1x.webp"
      /></a>
      <span class="badge badge--po">Pre-Order</span>
    </div>
    <div class="item__about">
      <header class="item__header">
        <h3>essential keys module</h3>
        <div class="item__price">
          <span class="price price-full-s">$99</span>
        </div>
      </header>
    </div>
  </div>
  <div class="item">
    <div class="item__image">
      <a class="image-main" href="#"><img src="/images/product6-1x.webp" /></a>
      <a class="image-hover" href="#"
        ><img src="/images/product6-hover-1x.webp"
      /></a>
    </div>
    <div class="item__about">
      <header class="item__header">
        <h3>monogram care</h3>
        <div class="item__price">
          <span class="price price-full-s">$19 - $129</span>
        </div>
      </header>
    </div>
  </div>
</section>
